body{
    background-color: #29567b;
    width: 400px; 
    height: 400px;
}

.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.nav-item{
    background-color: white;
    font-size: 16px;
    padding: 6px 8px;
    border: solid 1px #29567b;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.nav-link{
    text-decoration: none;
    color: #29567b;
    display: block;
}

/* .nav-item:hover{
    background-color: #29567b !important;
    
} */

/* .nav-link:hover{

    color:#f4f4f4 !important;
}

.c-loader {
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    align-items: center;
  }

/* body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  transform: scale(5);
} */

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
