body{
  background-color: #29567b;
  width: 400px; 
  height: 400px;
}

#div5{
  background-color: #f4f4f4 ;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 15px;
  color: #29567b;
}

#div5 h1{
  text-align: center;
}

#div5 a{
  text-decoration: none;
  color: #07245e;
}

.nav{
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.container{
  background-color: #f4f4f4;
  border-radius: 15px;
}

.nav-item{
  margin: 2px;
}

.nav-link{
  text-decoration: none;
  color: #f4f4f4;
  display: block;
  background-color: #29567b;
  font-size: 16px;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#space{
  height: 75px;
}

.nav-link:hover{
  background-color: #021231 !important;
    
} 

.nav-link:hover{
  color:#f4f4f4 !important;
}

.c-loader {
  display:flexbox;
  padding: 50px;
  margin: 110px;
  justify-content: center;
  align-items: center;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #516494;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
