button {
    padding: 5px;
    margin-top: 10px;
}

body{
    background-color: #29567b;
    width: 400px;
    
}

.text{
    color: white;
}

p{
    font-size: 16px;
}

.title{
    text-align: center;
}